* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    color: #01ffc8;
    background-image: linear-gradient(to bottom left, #8e0006, #8e3e00);
}

.yellow {
    font-size: 2.5em;
    color: #ffff00;
}

.underline {
    text-decoration: underline;
}